.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
  border-radius: var(--br);
  padding: 1rem;
  margin: 0 auto;
}

.profile-icon {
  font-size: 2rem;
}

.profile-card .btn {
  display: block;
  margin: 1rem auto;
}

@media screen and (min-width: 450px) {
  .profile-card {
    width: 60%;
  }
}

@media screen and (min-width: 765px) {
  .profile-card {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .profile-card {
    width: 30%;
  }
}
